* {
  background-color: rgb(110, 199, 230);
  font-family: 'Inconsolata', monospace;
  text-align: center;
}

h1 {
  font-size: 72pt;
  margin-top: 100px;
  text-align: center;
}

#challenge {
  font-size: 24pt;
  text-align: center;
}

.currentChar {
  font-size: 36pt;
  color: white;
}

.failed {
  font-size: 36pt;
  color: red;
}

p {
  margin: 50px;
  font-size: 40pt;
  color: white;
}
